.display_board #basic_info {
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
}

.display_board #basic_info #map {
    margin-top: 30px;
    width: 450px;
}

.display_board #job_intention {
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
}

.display_board #education_exp {
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
}

.display_board #self_evaluation {
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
}

.display_board #hobby {
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
}