#hobby {
    /*background-color: #333333;*/
}

#hobby p {
    text-indent: 2em;
    font-size: 14px;
    line-height: 33px;
}

#hobby #div1 {
    position: absolute;
    top: 50px;
}

#hobby #div2 {
    position: absolute;
    top: 50px;
}

#hobby #div3 {
    position: absolute;
    top: 50px;
}

#hobby #div4 {
    position: absolute;
    top: 50px;
}

#hobby #div5 {
    position: absolute;
    top: 50px;
}

#hobby #div2 #draw_outer {
    margin: 10px auto;
    width: 450px;
    /*height: 450px;*/
    /*background-color: yellowgreen;*/
}

#hobby #div2 #draw_outer div {
    position: relative;
    display: inline-block;
    float: left;
    width: 190px;
    height: 130px;
    margin: 10px 20px;
    margin-right: 0;
    /*background-color: yellow;*/
    overflow: hidden;
    border: 4px solid rgba(221, 221, 221, 0.5);
    /*border-radius: 4px;*/
}

#hobby #div2 #draw_outer div:hover {
    /*border-color: rgba(221, 221, 221, 1);*/
}

#hobby #div2 #draw_outer div span {
    position: absolute;
    top: 0;
    left: 0;
    /*z-index: 1;*/
    display: inline-block;
    width: 190px;
    height: 130px;
    background-color: rgba(100, 52, 18, 0.4);
}

#hobby #div2 #draw_outer img {
    position: relative;
    width: 100%;
}

#hobby #div5 #story_outer {
    margin: 10px auto;
    width: 450px;
}

#hobby #div5 #story_outer div {
    position: relative;
    display: inline-block;
    width: 400px;
    height: 230px;
    margin: 10px 20px;
    margin-right: 0;
    overflow: hidden;
    border: 4px solid rgba(221, 221, 221, 0.5);
    /*border-radius: 4px;*/
}

#hobby #div5 #story_outer #story1 img {
    position: absolute;
    left: -9%;
    top: -82%;
    width: 120%;
}

#hobby #div5 #story_outer #story2 img {
    position: absolute;
    left: -65%;
    top: -5%;
    width: 200%;
}
