#player_bg {
    position: absolute;
    top: 60px;
    right: 25px;
    z-index: 10;
    width: 310px;
    height: 100px;
    border-radius: 10px;
    background: rgba(240, 240, 240, 0.85);
}

#player_icon {
    position: relative;
    float: left;
    width: 72px;
    height: 72px;
    top: 5px;
    left: 6px;
    background-image: url("image/player_icon.png");
    background-size: 100%;
}

#bgm_name {
    float: right;
    margin-top: 12px;
    margin-right: 24px;;
    text-align: center;
    width: 200px;
    font-size: 15px;
    overflow: scroll;
}

#player_bt {
    position: relative;
    float: left;
    margin-left: 12px;
    top: 8px;
    width: 220px;
    height: 24px;
}

#player_last {
    float: left;
    margin-left: 30px;
    margin-top: 5px;
    width: 16px;
    height: 16px;
    background-image: url("image/last.png");
    background-size: 100%;
}

#play_stop {
    float: left;
    margin-left: 16px;
    margin-right: 16px;
    width: 24px;
    height: 24px;
    background-image: url("image/play.png");
    background-size: 100%;
}

#player_next {
    float: left;
    margin-top: 4px;
    width: 16px;
    height: 16px;
    background-image: url("image/next.png");
    background-size: 100%;
}

#player_voice {
    float: left;
    margin-top: 4px;
    margin-left: 48px;
    width: 16px;
    height: 16px;
    background-image: url("image/voice.png");
    background-size: 100%;
}

#player_list {
    float: right;
    margin-top: 3px;
    width: 20px;
    height: 20px;
    background-image: url("image/list.png");
    background-size: 100%;
}

#display {
    position: relative;
    bottom: -10px;
    float: right;
    margin-right: 8px;
    height: 1.5em;
    font-size: 12px;
    color: #1b1b1b;
}

#progressBar {
    position: relative;
    top: 87px;
    left: 5px;
    width: 300px;
    height: 4px;
    border-radius: 5px;
    background: #dddddd;
}

#fill {
    position: absolute;
    display: inline-block;
    left: 0px;
    width: 0;
    height: 4px;
    border-radius: 5px;
    background: #a15f65;
}

#slider {
    position: absolute;
    display: inline-block;
    z-index: 1;
    width: 12px;
    height: 12px;
    top: -4px;
    left: -6px;
    border-radius: 6px;
    background: #5c5859;
}

.list_bg {
    position: absolute;
    top: 168px;
    right: 25px;
    z-index: 10;
    width: 310px;
    border-radius: 5px;
    background: rgba(240, 240, 240, 0.5);
}

.list_bg ul {
    list-style-type: none;
}

.list_bg li {
    border-style: dotted none;
    border-width: 0.5px;
    border-color: #a15f65;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 14px;
}

.list_bg li:hover {
    border-radius: 5px;
    background: rgba(92, 88, 89, 0.5);
}