blockquote, body, div, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, th td, textarea, th, ul {
    margin: 0;
    padding: 0;
    font-weight: 300;
}

html, body {
    /* 设置后解决了获取docment.body.clientHeight获取不到值的问题 */
    height: 100%;
}

body {
    -webkit-text-size-adjust: none;
}

ul {
    list-style-type: none;
}

a {
    display: block;
    text-decoration: none;
}

.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/*@media screen and (min-width: 300px) and (max-width: 375px) {*/
/*html {*/
/*font-size: 10.5px;*/
/*}*/
/*}*/

/*@media screen and (min-width: 376px) and (max-width: 414px) {*/
/*html {*/
/*font-size: 11.5px;*/
/*}*/
/*}*/

/*@media screen and (min-width: 415px) and (max-width: 639px) {*/
/*html {*/
/*font-size: 18px;*/
/*}*/
/*}*/

/*@media screen and (min-width: 640px) and (max-width: 719px) {*/
/*html {*/
/*font-size: 20px;*/
/*}*/
/*}*/

/*@media screen and (min-width: 720px) and (max-width: 749px) {*/
/*html {*/
/*font-size: 21px;*/
/*}*/
/*}*/

/*@media screen and (min-width: 750px) and (max-width: 799px) {*/
/*html {*/
/*font-size: 23px;*/
/*}*/
/*}*/

/*@media screen and (min-width: 800px) {*/
/*html {*/
/*font-size: 30px;*/
/*}*/
/*}*/
