.title_size_1 {
    font-size: 1.3em;
}

.title_size_2 {
    font-size: 1.2em;
}

.font_color_333333 {
    color: #333333;
}

.font_color_545454 {
    color: #545454;
}

.font_color_767676 {
    color: #767676;

}