#nav_bottom {
    position: fixed;
    width: 100%;
    min-width: 320px;
    height: 7.5%;
    min-height: 43px;
    bottom: 0;
    z-index: 999;
    border-top: 1px solid #e4e4e4;
    background-color: white;
}

#nav_bottom ul {
    height: 100%;
}

#nav_bottom li {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    text-align: center;
}

#nav_bottom li a {
    display: block;
    width: 100%;
    height: 100%;
}

#nav_bottom img {
    width: auto;
    height: 100%;
}