.right_frame {
    position: absolute;
    display: inline-block;
    right: 0;
    width: 600px;
    font-size: 12px;
}

.right_frame .WB_tab_a {
    width: 600px;
    height: 48px;
    color: #333333;
}

.right_frame .WB_tab_a .tab_box {
    width: 600px;
    height: 38px;
    border-radius: 2px;
    background-color: #f2f2f5;
}

.right_frame .WB_tab_a .tab_box .tab {
    list-style-type: none;
    display: inline-block;
    font-size: 0;
}

.right_frame .WB_tab_a .tab_box .tab .tab_li {
    display: inline-block;
    width: 90px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 12px;
    color: #333333;
    border-right: 1px solid #f2f2f5;
}

.right_frame .WB_tab_a .tab_box .tab li:hover {
    border-right: 1px solid #d9d9d9;
    border-bottom: 2px solid #fa7d3c;
    background-color: white;
}

.right_frame .WB_tab_a .tab_box .tab a {
    width: 90px;
    height: 39px;
}

.right_frame .WB_tab_a .fr_box {
    display: inline-block;
    float: right;
    width: 185px;
    height: 38px;
}

.right_frame .WB_tab_a .fr_box .WB_search_s {
    position: relative;
    width: 178px;
    height: 26px;
    background-color: pink;
}

.right_frame .WB_tab_a .fr_box .WB_search_s .W_input {
    width: 120px;
    height: 24px;
    margin-top: 6px;
    margin-left: 3px;
    padding: 0 46px 0 10px;
    border: 1px solid #cccccc;
    color: #808080;
}

.right_frame .WB_tab_a .fr_box .WB_search_s .pos {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 9px;
    left: 140px;
    width: 33px;
    height: 20px;
    text-align: center;
}

.right_frame .WB_tab_a .fr_box .WB_search_s .pos .ficon_search {
    width: 16px;
    height: 20px;
    background-image: url("image/search.png");
    background-size: 100%;
}

.right_frame .WB_tab_a .fr_box .WB_search_s .pos .ficon_arrow_down_lite {
    position: relative;
    width: 14px;
    height: 18px;
    margin-left: 3px;
}

.right_frame .WB_tab_a .fr_box .WB_search_s .pos .ficon_arrow_down_lite span {
    position: absolute;
    top: 7px;
    left: -1px;
    width: 0;
    height: 0;
    margin-left: 3px;
    border: 4px solid white;
    border-top-color: #696e79;
}

.right_frame .WB_tab_a .fr_box .WB_search_s .pos .ficon_arrow_down_lite span:hover {
    border-top-color: #fa6342;
}

.right_frame .WB_feed_type {
    width: 600px;
    border-radius: 2px;
    margin-bottom: 10px;
    color: #333333;
    background-color: white;
    overflow: hidden;
}

.right_frame .WB_feed_type .WB_feed_detail {
    width: 560px;
    padding: 20px;
    padding-bottom: 4px;
}

.right_frame .WB_feed_type .WB_feed_detail .WB_face {
    position: absolute;
    float: left;
    width: 50px;
    height: 54px;
    border-radius: 50px;
    background-image: url("image/icon3.jpg");
    background-size: 100%;
}

.right_frame .WB_feed_type .WB_feed_detail .WB_detail {
    float: left;
    width: 500px;
    margin-left: 60px;
}

.right_frame .WB_feed_type .WB_feed_detail .WB_detail .WB_info {
    width: 500px;
    height: 18px;
    line-height: 18px;
    padding-top: 5px;
    margin-bottom: 7px;
    font-size: 14px;
    font-weight: 700;
}

.right_frame .WB_feed_type .WB_feed_detail .WB_detail .WB_form {
    width: 500px;
    height: 15px;
    line-height: 15px;
    margin-bottom: 2px;
    color: #808080;
}

.right_frame .WB_feed_type .WB_feed_detail .WB_detail .WB_text {
    width: 500px;
    height: 23px;
    line-height: 23px;
    padding-top: 1px;
    margin-bottom: 2px;
    font-size: 14px;
}

.right_frame .WB_feed_type .WB_feed_detail .WB_detail .WB_feed_expand {
    width: 500px;
}

.right_frame .WB_feed_type .WB_feed_detail .WB_detail .WB_feed_expand .WB_expand {
    width: 500px;
    padding: 4px 20px 1px 80px;
    margin: 5px -20px -4px -80px;
    background-color: #f2f2f5;
}

.right_frame .WB_feed_type .WB_feed_detail .WB_detail .WB_feed_expand .WB_expand .WB_info {
    width: 500px;
    height: 16px;
    line-height: 16px;
    padding-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
}

.right_frame .WB_feed_type .WB_feed_detail .WB_detail .WB_feed_expand .WB_expand .WB_text {
    width: 500px;
    padding-top: 1px;
    font-size: 12px;
    margin-top: -3px;
    margin-bottom: 4px;
}

.right_frame .WB_feed_type .WB_feed_detail .WB_detail .WB_feed_expand .WB_expand .WB_media_wrap {
    width: 510px;
    height: 282px;
    background-color: #333333;
    margin: 6px 0 8px -10px;
}

.right_frame .WB_feed_type .WB_feed_detail .WB_detail .WB_expand .WB_func {
    width: 500px;
    height: 16px;
    line-height: 16px;
    margin: 4px 0 7px;
}

.right_frame .WB_feed_type .WB_feed_detail .WB_detail .WB_feed_handle {
    width: 600px;
    height: 39px;
}

.right_frame .WB_feed_type .WB_feed_detail .WB_detail .WB_feed_handle .WB_row_line {
    list-style-type: none;
    width: 601px;
    height: 38px;
    margin-left: -81px;
    margin-top: 4px;
    border-top: 1px solid rgb(242,242,245);
}

.right_frame .WB_feed_type .WB_feed_detail .WB_detail .WB_feed_handle .WB_row_line li {
    float: left;
    width: 150px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background-color: white;
}

.right_frame .S_txt2 {
    display: block;
    width: 149.25px;
    height: 36px;
    line-height: 16px;
    padding: 1px 0;
    margin-left: 1px;
    color: #8d8d8d;
}

.right_frame .S_txt2:hover {
    color: #fa6342;
}

.right_frame .S_txt2 .pos {
    display: block;
    width: 150.25px;
    height: 22px;
    margin-left: -1px;
}

.right_frame .S_txt2 .pos .line {
    display: block;
    width: 149.25px;
    height: 22px;
    line-height: 22px;
    margin: 7px 0;
    border-left: 1px solid #d9d9d9;
}


